.vscode
logs


.pytest_cache/
__pycache__/
*.pyc


*.log
.rnd

server.crt
server.key
tests/results.xml

**/*,cover
otg_gnmi/proto
otg_gnmi/autogen/otg_*.py
otg_gnmi/autogen/gnmi_*.py
tests/mockstatus.txt

*.html